--color-primary-0: #aa9739;
--color-primary-1: #fff0aa;
--color-primary-2: #d4c26a;
--color-primary-3: #806d15;
--color-primary-4: #554600;
--color-secondary-1-0: #28784d;
--color-secondary-1-1: #78b494;
--color-secondary-1-2: #4b966e;
--color-secondary-1-3: #0f5a32;
--color-secondary-1-4: #003c1c;
--color-secondary-2-0: #9c344c;
--color-secondary-2-1: #ea9cae;
--color-secondary-2-2: #c36278;
--color-secondary-2-3: #75142a;
--color-secondary-2-4: #4e0012;

--color-primary-0: #265b6a;
--color-primary-1: #6b939f;
--color-primary-2: #447684;
--color-primary-3: #0f414f;
--color-primary-4: #022a35;
--color-secondary-1-0: #aa9439;
--color-secondary-1-1: #ffefaa;
--color-secondary-1-2: #d4c06a;
--color-secondary-1-3: #806b15;
--color-secondary-1-4: #554500;
--color-secondary-2-0: #9a334f;
--color-secondary-2-1: #e79aaf;
--color-secondary-2-2: #c1607a;
--color-secondary-2-3: #74132d;
--color-secondary-2-4: #4d0015;
